/*공통부분*/
li {
    display: block;
    text-decoration: none;

}

body {
    color: #483834;
    font-size: 13px;
    font-family: "Nanum Barun Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum", sans-serif;
    line-height: 1.5;
    letter-spacing: -.05em;
}

a {
    color: #483834;
}

:hover,
:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f231c;
}

body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0
}

html {
    font-size: 11px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none
}

img {
    border: 0;
    vertical-align: top
}

ol,
ul {
    list-style: none
}

address {
    font-style: normal;
    font-weight: 400
}

hr {
    display: none
}

fieldset {
    border: 0
}

legend {
    visibility: hidden;
    font-size: 0;
    line-height: 0
}

input[type=search],
input[type=text],
input[type=tel],
input[type=password],
textarea {
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

.sr_only {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.swipe {
    visibility: hidden;
    overflow: hidden;
    position: relative;
}

.swipe_wrap {
    overflow: hidden;
    position: relative;
}

.swipe_wrap>div,
.swipe_wrap>ul,
.swipe_wrap>li {
    float: left;
    position: relative;
}
.dslide {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    text-align: center;
}

.dslide a {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    text-indent: -9999em;
}

.dslide a span {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px;
    border-radius: 50%;
    border: 0;
    background-color: #cdccd5;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.dslide a.active span,
.dslide a:hover span,
.dslide a:hover a.active span {
    width: 9px;
    height: 9px;
    margin: -4px 0px 0px -4px;
    background-color: #301d17;
}

.slidesNav {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

.slidesNav ul li {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

.slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.slidesNav ul li a span,
.fp-slidesNav ul li a span {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px;
    border-radius: 50%;
    border: 0;
    background-color: #cdccd5;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.slidesNav ul li a.active span,
.slidesNav ul li:hover a span,
.slidesNav ul li:hover a.active span {
    width: 9px;
    height: 9px;
    margin: -4px 0px 0px -4px;
    background-color: #301d17;
}


.modal,
.modal_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    display: none;
    overflow: auto;
    z-index: 1050;
}

.modal_bg {
    background: #000;
    opacity: 0;
    -webkit-transition: opacity .8s ease;
    transition: opacity .8s ease;
}

.modal_container {
    position: relative;
    max-width: 1200px;
    margin: 70px auto;
    opacity: 0;
    -webkit-transition: all .4s ease .1s;
    transition: all .4s ease .1s;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

.modal_content {
    position: relative;
    border-radius: 5px;
    background: #fff;
}

.modal_close {
    position: absolute;
    top: 19px;
    right: -103px;
}

.modal_close a {
    display: block;
    overflow: hidden;
    width: 87px;
    height: 87px;
}

.open_modal {
    /*overflow:hidden;*/
    position: relative;
}

.open_modal .modal.in {
    display: block;
}

.open_modal .modal.on {
    opacity: 1;
}

.open_modal .modal.on .modal_bg {
    opacity: .5;
    filter: alpha(opacity=50);
}

.open_modal .modal.on .modal_container {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

/*header 부분*/
#header {
    min-width: 1200px;
    border-top: 3px solid #ff7c98;
    border-bottom: 1px solid #3f291a;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/bg_header.gif) 50% 0 repeat-x;
}

#header .inner_header {}

#header .top_area {
    border-bottom: 1px solid #e2d9d6;
}

#header .top_area .inner {
    position: relative;
    width: 1200px;
    height: 114px;
    padding-top: 21px;
    margin: 0 auto;
}

#header .logo {
    width: 92px;
    height: 92px;
    margin: 0 auto;
}

#header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/logo_baskinrobbins.png) no-repeat;
    text-indent: -9999em;
}

#header .sns,
#header .etc {
    position: absolute;
    top: 50px;
}

#header .sns {
    top: 50px;
    left: 0;
}

#header .sns ul:after,
#header .etc ul:after {
    display: table;
    clear: both;
    content: "";
}

#header .sns li {
    float: left;
    padding-right: 10px;
}

#header .etc {
    top: 39px;
    right: 0;
    height: 54px;
    line-height: 54px;
}

#header .etc li {
    float: left;
    padding-left: 20px;
    font-size: 11px;
}

#header .etc a {
    color: #4a3d39;
}

#header .etc .search {
    padding-left: 26px;
}

#header .etc .search a {
    display: inline-block;
    width: 54px;
    height: 54px;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/icon_search.png) no-repeat;
    text-indent: -9999em;
}

#header .etc .search a.on {
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/icon_modal_close.gif) no-repeat;
}

#header .menu_area .inner {
    width: 1200px;
    margin: 0 auto;
}

#header .menu_area .inner:after,
#header .member ul:after,
#gnb .gnb_wrap>ul:after {
    display: table;
    clear: both;
    content: "";
}

#header .member,
#header .member li {
    float: left;
}

#header .member a {
    float: left;
    display: block;
    padding: 0 23px;
}

#header .member span {
    display: block;
    height: 46px;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/gnb_menu.png) no-repeat;
    text-indent: -9999em;
}

#header .member .login a {
    padding-left: 0;
}

#header .member .login span {
    width: 35px;
    background-position: 0px -1px;
}

#header .member .join span {
    width: 27px;
    background-position: -97px -1px;
}

#header .member .logout span {
    width: 47px;
    background-position: 0 -47px;
}

#header .member .mypage span {
    width: 50px;
    background-position: -42px -1px;
}

#gnb {
    float: right;
}

#gnb .gnb_wrap>ul:after {
    display: table;
    clear: both;
    content: "";
}

#gnb .gnb_wrap>ul>li {
    float: left;
    position: relative;
}

#gnb .gnb_main a {
    display: block;
    padding: 0 59px;
}

#gnb .gnb_flavor .gnb_main a {
    padding-left: 0;
}

#gnb .gnb_about .gnb_main a {
    padding-right: 0;
}

#gnb .gnb_nutrition .gnb_main a {
    padding: 0 27.5px;
}

#gnb .gnb_main span {
    display: block;
    height: 46px;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/gnb_menu.png) no-repeat;
    text-indent: -9999em;
    line-height: 46px;
}

#gnb .gnb_flavor .gnb_main span {
    width: 164px;
    background-position: -133px -3px;
}

#gnb .gnb_menu .gnb_main span {
    width: 42px;
    background-position: -415px -3px;
}

#gnb .gnb_nutrition .gnb_main span {
    width: 105px;
    background-position: -545px -3px;
}

#gnb .gnb_event .gnb_main span {
    width: 42px;
    background-position: -737px -3px;
}

#gnb .gnb_store .gnb_main span {
    width: 49px;
    background-position: -897px -3px;
}

#gnb .gnb_about .gnb_main span {
    width: 49px;
    background-position: -1057px -3px;
}

#gnb .gnb_flavor .gnb_sub {
    padding-top: 2px;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#gnb .gnb_flavor .gnb_sub a {
    padding: 0;
}

#gnb .gnb_menu .gnb_sub {
    margin-left: 35px;
}

#gnb .gnb_event .gnb_sub {
    margin-left: 43px;
}

#gnb .gnb_store .gnb_sub {
    margin-left: 57px;
}

#gnb .gnb_about .gnb_sub {
    margin-left: 55px;
}

#gnb .gnb_about .gnb_sub {
    text-align: right;
    margin-left: 0;
    width: 100%;
    padding-left: 30px;
}

#gnb .gnb_about .gnb_sub li {
    white-space: nowrap;
    text-align: center;
}

#gnb .gnb_sub {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    z-index: 1000;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
}

#gnb .gnb_sub li {
    padding-bottom: 12px;
}

#gnb .gnb_sub li:first-child {
    padding-top: 40px;
}

#gnb .gnb_sub a {
    display: block;
    padding: 5px 0;
    color: #7b7b7b;
    line-height: 1.2;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

#gnb .gnb_bg {
    overflow: hidden;
    position: absolute;
    top: 185px;
    left: 0;
    height: 0;
    z-index: 999;
    min-width: 100%;
    border-bottom: 1px solid #693337;
    background: #fff;
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
}

#gnb .gnb_bg div {
    width: 1200px;
    height: 204px;
    margin: 0 auto;
    background: url(http://www.baskinrobbins.co.kr/assets/images/common/img_happypoint_app.jpg) no-repeat 0 65px;
}

#gnb:hover .gnb_sub,
#gnb:hover .gnb_bg {
    height: 275px;
}

#gnb:hover .gnb_bg {
    margin-top: 1px;
}

#gnb:hover .gnb_sub {
    overflow: visible;
}

#gnb:hover .gnb_sub a {
    color: #948780;
    opacity: 1;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

#gnb:hover .gnb_sub a:hover {
    color: #ff75ac;
}

#gnb:hover .gnb_flavor .gnb_sub {
    margin-left: -44px;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

/*main*/

#br_main #content {
    width: auto;
    min-width: 1200px;
    padding-bottom: 130px;
}

#br_main h3.title {
    text-align: center;
}

#br_main .br_menu .menu_list,
#br_main .store_delivery,
#br_main .snsbox,
#br_main .br_event {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#br_main .main_banner {
    position: relative;
}

#br_main .flavor_month .top a,
#br_main .flavor_month .flavor_banner a {
    display: block;
    text-indent: -9999em
}

#br_main .flavor_month .top a {
    height: 150px;
    margin-bottom: 3px;
    background: #f0dcb6 url(https://www.baskinrobbins.co.kr/assets/images/main/img_flaovr_month_top.png) 50% 0 no-repeat;
}

#br_main .flavor_month .flavor_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#br_main .flavor_month .flavor_banner a {
    height: 854px;
    background: #513529 url(https://www.baskinrobbins.co.kr/assets/images/main/img_flavor_month.png) 50% 0 no-repeat;
}

#br_main .flavor_month .flavor_banner a.on {
    height: 0;
    -webkit-transition: height 1s ease;
    transition: height 1s ease;
}

#br_main .banner_slide {
    position: relative;
    /*max-width:1600px;*/
    min-width: 1200px;
    margin: 0 auto;
}

#br_main .banner_slide ul:after {
    display: table;
    clear: both;
    content: "";
}

#br_main .banner_slide li {
    float: left;
}

#br_main .banner_slide li a {
    display: block;
    height: 697px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    text-indent: -9999em;
}

#br_main .banner_slide .banner_1 a {
    background-color: #fed104;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_1.jpg);
}

#br_main .banner_slide .banner_2 a {
    background-color: #68d9d7;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_2.jpg);
}

#br_main .banner_slide .banner_3 a {
    background-color: #f6f6f6;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_3.jpg);
}

#br_main .banner_slide .banner_4 a {
    background-color: #eedfe2;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_4.jpg);
}

#br_main .banner_slide .banner_5 a {
    background-color: #ff70a8;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_5.jpg);
}

#br_main .banner_slide .banner_6 a {
    background-color: #91c534;
    background-image: url(https://www.baskinrobbins.co.kr/assets/images/main/banner/img_main_banner_6.jpg);
}

#br_main .banner_slide .dslide {
    margin-top: -40px;
}

#br_main .banner_slide .dslide a {
    width: 14px;
    height: 14px;
}

#br_main .banner_slide .dslide a span {
    height: 10px;
    width: 10px;
    margin: -5px 0 0 -5px;
    background-color: #fff;
}

#br_main .banner_slide .dslide a.active span,
#br_main .banner_slide .dslide a:hover span,
#br_main .banner_slide .dslide a:hover a.active span {
    width: 13px;
    height: 13px;
    margin: -6px 0px 0px -6px;
    background-color: #301d17;
}



#br_main .banner_slide .btns a {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -54px;
}

#br_main .banner_slide .btns .prev {
    left: 20px;
}

#br_main .banner_slide .btns .next {
    right: 20px;
}

#br_main .br_event {
    height: 721px;
}

#br_main .br_event>.title {
    padding: 100px 0 50px;
}

#br_main .br_event .list_product {
    overflow: hidden;
}

#br_main .br_event ul {
    margin-left: -16px;
}

#br_main .br_event ul:after {
    display: table;
    clear: both;
    content: "";
}

#br_main .br_event li {
    float: left;
    width: 25%;
    min-height: 465px;
    padding-left: 16px;
    box-sizing: border-box;
}

#br_main .br_event li a {
    display: block;
}

#br_main .br_event li span {
    display: block;
}

#br_main .br_event figure {
    box-sizing: border-box;
}

#br_main .br_event figure img {
    width: 286px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

#br_main .br_event .type {
    margin: 22px 0 8px 0;
}

#br_main .br_event .title {
    color: #2f231c;
    font-size: 17px;
    line-height: 23px;
}

#br_main .br_event .period {
    margin: 11px 0;
    font-weight: 300;
    color: #948780;
}

#br_main .br_menu {
    position: relative;
    height: 1157px;
    background: url(https://www.baskinrobbins.co.kr/assets/images/main/bg_menu.jpg) 50% 0 no-repeat;
}

#br_main .br_menu .menu_list {
    height: 1066px;
    background: url(https://www.baskinrobbins.co.kr/assets/images/main/img_menu_list.png) 50% 0 no-repeat;
}

#br_main .br_menu .title {
    padding-top: 78px;
}

#br_main .br_menu .menu_list>div {
    position: absolute;
}

#br_main .br_menu a {
    display: block;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
}

#br_main .br_menu .icecream {
    top: 30px;
    left: 349px;
}

#br_main .br_menu .icecream a {
    width: 395px;
    height: 302px;
}

#br_main .br_menu .icecreamcake {
    top: 29px;
    left: 782px;
}

#br_main .br_menu .icecreamcake a {
    width: 276px;
    height: 472px;
}

#br_main .br_menu .baverage {
    top: 369px;
    left: 147px;
}

#br_main .br_menu .baverage a {
    width: 230px;
    height: 366px;
}

#br_main .br_menu .coffee {
    top: 368px;
    left: 415px;
}

#br_main .br_menu .coffee a {
    width: 329px;
    height: 292px;
}

#br_main .br_menu .dessert {
    top: 735px;
    left: 398px;
}

#br_main .br_menu .dessert a {
    width: 329px;
    height: 177px;
}

#br_main .br_menu .gift {
    top: 574px;
    left: 783px;
}

#br_main .br_menu .gift a {
    width: 276px;
    height: 183px;
}

#br_main .store_delivery {
    height: 547px;
    box-sizing: border-box;
}

#br_main .store_delivery:after {
    display: table;
    clear: both;
    content: "";
}

#br_main .store_delivery .store,
#br_main .store_delivery .order {
    float: left;
    width: 50%;
}

#br_main .store_delivery .title {
    padding: 95px 0 50px;
}

#br_main .snsbox .title {
    padding-bottom: 26px;
}

#br_main .snsbox ul:after {
    display: table;
    clear: both;
    content: "";
}

#br_main .snsbox .sns {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 35px;
}

#br_main .snsbox .sns li {
    float: left;
    padding: 0 9px;
}

#br_main .main_insta li {
    float: left;
    width: 16.666%;
}

#br_main .main_insta li img {
    width: 100%;
}

#br_main .snsbox .dslide {
    padding-top: 40px;
}

/*footer*/
#footer {
    min-width: 1200px;
    padding-bottom: 60px;
    border-top: 1px solid #feaf2b;
}

#footer .policy,
#footer .brand_family .inner,
#footer .info {
    width: 1200px;
    margin: 0 auto;
}

#footer nav ul:after {
    display: table;
    clear: both;
    content: "";
}

#footer .policy {
    padding: 0 80px;
    height: 77px;
    line-height: 77px;
    box-sizing: border-box;
}

#footer .policy li {
    float: left;
    width: 16.66%;
    text-align: center;
}

#footer .policy a {
    color: #726454;
    font-size: 14px;
}

#footer .policy .privacy a {
    color: #ff7c98;
    font-weight: bold;
}

#footer .brand_family {
    background-color: #f9f8f7;
}

#footer .brand_family .inner {
    position: relative;
    height: 75px;
}

#footer .brand ul {
    padding: 22px 0 0 222px;
}

#footer .brand li {
    float: left;
}

#footer .brand .li_1 {
    width: 111px;
}

#footer .brand .li_2 {
    width: 118px;
}

#footer .brand .li_3 {
    width: 182px;
}

#footer .brand .li_4,
#footer .brand .li_5 {
    padding-right: 9px;
}

#footer .familysite {
    position: absolute;
    top: 21px;
    right: 196px;
    width: 150px;
    background-color: #fff;
}

#footer .familysite button {
    width: 100%;
    height: 32px;
    padding-left: 11px;
    border-radius: 5px;
    border: 1px solid #d1cecc;
    background: transparent url(http://www.baskinrobbins.co.kr/assets/images/common/family_size_off.png) no-repeat 100% 0;
    color: #b1ab9f;
    font-size: 11px;
    text-align: left;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(234, 233, 232, 0.8);
    -moz-box-shadow: 2px 2px 2px 0px rgba(234, 233, 232, 0.8);
    box-shadow: 2px 2px 2px 0px rgba(234, 233, 232, 0.8);
}

#footer .familysite button.on {
    background-image: url(http://www.baskinrobbins.co.kr/assets/images/common/family_size_on.png);
}

#footer .familysite ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d1cecc;
    background: #fff;
    box-sizing: border-box;
}

#footer .familysite .on+ul {
    display: block;
}

#footer .familysite a {
    display: block;
    height: 25px;
    padding-left: 15px;
    color: #726454;
    line-height: 25px;
}

#footer .familysite a:hover,
#footer .familysite a:focus {
    background: #efefef;
}

#footer .info {
    padding-top: 48px;
    color: #635b56;
    font-size: 11px;
    text-align: center;
}

#footer .info .logo {
    padding-bottom: 35px;
}

#footer .info>div p,
#footer .info>div address {
    display: inline-block;
    padding-bottom: 3px;
}

#footer .info>div p {
    padding-right: 15px;
}

#footer .info .copyright {
    padding-top: 12px;
    color: #b1adab;
    font-size: 11px;
}